<%= render 'layouts/header' %>
<%= render 'layouts/howitworks' %>
<%= render 'layouts/150nopartner' %>
<%= render 'layouts/footer' %>
<br><br>
<%= render 'layouts/end' %>
<p id= "promo" hidden>MIDDLETOWN</p>
