<%= render 'layouts/header' %>
<%= render 'layouts/partner1' %>
<%= render 'layouts/howitworks' %>
<%= render 'layouts/150partner' %>
<%= render 'layouts/footer' %>
<%= render 'layouts/aboutpartners' %>
<%= render 'layouts/end' %>
<p id= "promo" hidden>WAYLAND</p>
