<div class='upboldcenterred'><%=@delivery_day%></div><br>
<div class='center_normal'>Available to <%=@location%> residents only</div><br>


<!-- <p id="message" class="center_bold">
  <%=@message%><br>
</p><br> -->

<img src="/assets/HomeDelivery_LandingPage_5.Calendar.jpg" alt="Not too late" class="responsive"><br>

<p id="message2" class="center_bold">
  <%=@message2%><br>
</p>

<div class='center_normal'>Contact <%=@rep_name%> at <%= mail_to @rep_contact, @rep_contact %> for further details</div><br>

<p><a href="https://www.dartagnan.com">
  <img src="/assets/Shop_Now_ISOLATED.jpg" alt="Shop Now">
</a></p>

<!-- <img src="/assets/HomeDelivery_LandingPage_7.SmallGestures.jpg" alt="Calendar" class="responsive"> -->
