<div class=max_width>
<img src="/assets/header.jpg" alt="Home Delivery Header" class="responsive">
<h3>We’re all in this together and we will get through this together!</h3> <br>
<p> In this time of crisis, D’Artagnan’s core values remain as always: food raised right tastes better. Our mission is our responsibility; to offer comfort to you and your family by delivering the same delicious poultry, meats and mushrooms we provide to the best chefs in the U.S. Now, right to your door. <br><br>

We are starting <scan class="bold">free deliveries in <%=@location%></scan> using the same fleet of refrigerated trucks, and the same outstanding service and sanitation care from our seasoned drivers who were supplying all of your favorite local restaurants. <br><br>

_________________________________<br><br></p>
<div class="center_bold">
  How It Works:
</div> <br>
<ul>
  <li>Shop <a href="https://www.dartagnan.com">dartagnan.com</a> and add a minimum of $200 of items to your cart</li><br>

  <li>When you check out, use code “<scan class="bold"><%=@promo%></scan>” to identify the order as part of our community route,
    and be sure to select the delivery day <span class="nowrap"><%=@delivery_day%></span> when prompted</li><br>

  <li>We will send emails confirming your order and scheduled delivery</li><br>

  <li>You can shop as often as you like - we will continue to schedule deliveries as long as there is a need</li><br>
</ul>

<p id="message" class="center_bold">
  <%=@message%><br><br>
  <!-- <%=@message2%><%=@cutoff_day%>&nbsp;<%=@cutoff_month%>&nbsp;<%=@cutoff_number%><%=@message3%></p><br> -->
  It's not too late to add an order - simply place your order before noon <span class="nowrap"><%=@cutoff_day%></span>
  using the instructions above.
</p><br>

<p>We hope our small gesture lends a helping hand during these difficult times. <br><br>

If you like us, please spread the word. </p><br><br>
<p><a href="https://www.dartagnan.com">
  <img src="/assets/Shop_Now_ISOLATED.jpg" alt="Shop Now">
</a></p>
<img src="/assets/footer.jpg" alt="Home Delivery Footer" class="responsive">
</div>
